extends layout

block content
    #meldung
        h2 Wartung
        p
            | Die Seite wird zur Zeit erneuert,<br />
            | Bitte probieren Sie es später nochmal.<br /><br />
             
    #author
        #mailadr
            a(href="mailto:rexfue@gmail.com") mailto:rexfue@gmail.com
        #versn Version: #{version} vom #{date}