extends layout

block content
    #meldung
        h2 Wartung
        p
            | Die Seite wird zur Zeit erneuert,<br />
            | Bitte probieren Sie es später nochmal.<br /><br />
             
    #author
        #mailadr
            a(href="mailto:multigeiger@ecocurious.de") mailto:multigeiger@ecocurious.de
         #versn Version: #{version} vom #{date}